﻿

/*Calendar Styling*/

.calendarWrapper {
    width: 50%;
    float: left;
}


.calendarObject {
    width: 100%;
    text-decoration: underline;
}

.calendarTitle {
    background-color: indianred;
    font-family: 'Lato';
    font-weight: bold;
}

.calendarToday {
    font-family: 'Lato';
    font-weight: bold;
    border-color: black;
    border-width: 1px;
    border-style: double;
    color: white;
}

.calendarDay {
    font-family: 'Lato';
}

td.calendarDay a {
    text-decoration: none;
}

    td.calendarDay a:active {
        text-decoration: none;
    }

.calendarSelected {
    font-family: 'Lato';
    font-weight: bold;
    background-color: indianred;
    border-color: black;
    border-width: 1px;
    border-style: solid;
}

/*Calendar Display Styling*/

.meetingDateLbl{
    display: block;   
}

.deadlineDateLbl{
    display:block;
}
