﻿#left {
    float: left;
    padding-top: 15px;
    min-width: 320px;
    width: 33%;
    margin-top: 0px;
    margin-right: 2%;
}

#right {
    display: inline-block;
    padding-top: 15px;
    min-width: 320px;
    width: auto;
}

.labels, .buttons, .textBoxes {
    display: block;
}

.labels {
    padding-bottom: 10px;
}

.textBoxes {
    margin-bottom: 15px;
}

.buttons {
    margin-top: 30px;
}

h2 {
            padding: 0;
            margin: 0;
            margin-bottom: 20px
        }
