﻿.labels, .buttons, .textBoxes, .uploads {
    display: block;
}

.labels {
    padding-bottom: 10px;
}

.textBoxes, .uploads {
    margin-bottom: 15px;
}

.buttons {
    margin-top: 30px;
}

.validation {
    display: block;
    padding-bottom: 15px;
}

.checkboxes {
    display: block;
}
