﻿body {
    margin: 0;
    padding: 0;
    font-family: Lato;
    height: 100%;
    background: url('/Images/layer-170971.jpg') no-repeat center center fixed;
    background-size: cover;
    text-align: left;
}

a {
    color: royalblue;
}

    .links:visited {
        text-decoration: none;
        color: hotpink;
    }

      .links:hover {
        color: blue;
    }

      .links:focus {
        color: royalblue;
    }

      .links:hover,   .links:active {
        color: royalblue;
    }

@font-face {
    font-family: 'Lato';
    src: url(/Fonts/Lato-Light.ttf);
}

@font-face {
    font-family: 'Lato-Regular';
    src: url('/Fonts/Lato-Regular.ttf') format('truetype');
}

/*Navigation Bar*/

.mainHeader {
    background-color: #333;
}

.menuContainer {
    width: 80vw;
    margin-left: 10vw;
    margin-right: 10vw;
    min-height: 66px;
    overflow: hidden;
}

.navList {
    list-style-type: none;
    margin: 0;
    padding: 0;
    padding-bottom: 5px;
    padding-left: 5px;
    overflow: hidden;
    height: 60px;
}

.navListItem {
    float: left;
}

    .navListItem a {
        display: block;
        color: white;
        text-align: center;
        padding: 15px 15px;
        text-decoration: none;
        height: 60px;
        font-size: 22px;
    }

        .navListItem a:hover:not(.active) {
            background-color: #111;
        }

.active {
    background-color: indianred;
}

/*MainContent*/
.mainContent {
    display: block;
    width: 80vw;
    margin-left: 10vw;
    margin-right: 10vw;
    margin-top: 5vh;
    margin-bottom: 10vh;
    background-color: white;
}

h1 {
    font-size: 50px;
    color: #333;
    margin-top: 0;
    margin-bottom: 0;
    font-family: Lato-Regular;
    font-weight: normal;
}


h2 {
    font-size: 32px;
    font-family: Lato-Regular;
    font-weight: normal;
    padding: 0;
    margin: 60px 0 0 0;
    color: indianred;
}

/*Images*/

.logoContainer {
    float: left;
    width: 140px;
    height: 50px;
    padding-right: 25px;
    padding-top: 10px;
    padding-left: 20px;
}

.ChesterLogo {
    width: 100%;
}

.mainFooter {
    height: 35px;
    background-color: #333;
}

.footerContainer {
    width: 80vw;
    margin-left: 10vw;
    margin-right: 10vw;
    padding-top: 8px;
}

.copyright {
    font-size: 18px;
    color: white;
}

.title {
    padding-bottom: 3px;
    margin-bottom: 0px;
    margin-top: 10px;
}

.line {
    height: 3px;
    background-color: indianred;
    margin-bottom: 50px;
}

.pageArea {
    padding-left: 2vw;
    padding-right: 2vw;
    padding-bottom: 2vw;
    padding-top: 2vw;
    margin-bottom: 5vh;
}

footer {
    position: fixed;
    display: inline;
    left: 0px;
    bottom: 0px;
    height: 30px;
    width: 100%;
    margin-top: 5vh;
}



p, a {
    font-size: 22px;
}

.names {
    float: right;
    color: white;
    font-size: 18px;
}

.names :hover{
    color:white;
}

.copyright :hover{
    color:white;
}

.signOut {
    margin-bottom: 10px;
    padding-right: 10px;
}

.leftMenuContainer {
    float: left;
    display: flex;
    flex-flow: row wrap;
}

.rightMenuContainer {
    float: right;
}

.login {
    cursor: pointer;
}
